@import url("/styles/font.css");

* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.calc-container {
  background-color: #eee;
  padding: 16px;
  width: 385px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display {
  background-color: #fff;
  width: calc(100% - 8px);
  height: 62px;
  text-align: right;
  font-family: inherit;
  font-size: 48px;
  margin: 16px 0;
  padding: 0 16px;
  border-radius: 8px;
}

.numbers-container {
  display: flex;
  padding: 0;
}

.symbol {
  display: flex;
  flex-direction: column;
}

.num {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  width: 62px;
  height: 62px;
  font-size: 32px;
  margin: 4px;
  border-radius: 8px;
}

.btn:hover {
  opacity: 0.6;
}

.btn:active {
  transform: scale(0.98);
}

.btn.dot {
  width: 132px;
}

.btn.result {
  height: 132px;
  background-color: orange;
  color: #000;
  font-weight: bold;
}

.btn.orange {
  background-color: orange;
  color: #000;
}
